<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= food.name %> Details</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>I love to eat <%=food.name%>, it is yummmy!</h1>

    <a href="/users/<%= user._id %>/foods/<%= food._id %>/edit">Edit</a>

    <form action="/users/<%= user._id %>/foods/<%= food._id %>?_method=DELETE" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('Are you sure you want to delete this food item?');">Delete</button>


    <a href="/users/<%= user._id %>/foods">Back to Pantry</a>

  </body>
</html>
